<html>
	<head>
		{% if title %}
		<title> {{ title }} - Weather-py </title>
		{% else %}
		<title> Welcome to Welcome to weather-py </title>
		{% endif %}
	</head>
	<body>
		<div> Weather-py: 
			<a href= "{{ url_for('index') }}">Home</a>
			<a href= "{{ url_for('weather') }}">Weather</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %} {% endblock %}
	</body>
</html>
